.chessBoard{
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(8, 70px);
}

.square {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  transition: all 0.2s ease-in-out;
}

.light{
  background-color: antiquewhite;
}

.dark{
  background-color: brown;
}

.piece{
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.selectedPiece{
  background-color: aquamarine;
  box-shadow: inset 0 0 0 4px rgba(255, 255, 0, 0.6);
}

.possibleMove{
  /*filter: brightness(1.4); */
  box-shadow: inset 0 0 0 7px rgba(255, 255, 0, 0.8);
}

.possibleTake{
  background-color: crimson;
}